<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>fi6en</contextName>
    <jmxConfigurator contextName="fi6en" />
    
    <appender name="FI6ENLOG" class="ch.qos.logback.core.FileAppender">
        <File>log/fi6en.log</File>
        <Append>false</Append>
        <Encoding>UTF-8</Encoding>
        <BufferedIO>false</BufferedIO>
        <ImmediateFlush>true</ImmediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %-4relative [%thread] %-5level %logger{35} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root>
        <appender-ref ref="FI6ENLOG" />
    </root>
    <logger name="org.red5.core">
        <level value="INFO" />
    </logger>
</configuration>
