<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">boston</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/fi6en</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hbm2ddl.auto">update</property>


        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">100</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.max_statements">0</property>
        <property name="c3p0.min_size">2</property>
        <property name="c3p0.timeout">90</property>
        <property name="c3p0.idleConnectionTestPeriod ">18000</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- no "connection.pool_size" entry! -->


		<mapping class="org.red5.fi6en.userservice.User" />
		<mapping class="org.red5.fi6en.traffic.Subscribe" />
		<mapping class="org.red5.fi6en.traffic.Broadcast" />


	</session-factory>
</hibernate-configuration>
